<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<hr style="background-color: #fdfdfd" />
		<div
			style="font-family: 'Roboto Condensed', sans-serif; font-size: 150%;">Registro
			de vacuna</div>
		<hr style="background-color: #FA251B" />


		<div>
			<form th:action="@{/vaccine/modificar}" th:object="${vaci}" method="post">
				<div class="col-sm-12">
					<label class="form-label">Id: </label> <input type="text"
						th:field="*{idVaccine}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Descripcion: </label> <input type="text"
						th:field="*{descriptionVaccine}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Fecha de Fabricación: </label> <input
						type="date" th:field="*{dateFrabication}" class="form-control"></input>
				</div>
				<div class="col-sm-12">
					<label class="form-label">Fecha de Expiración: </label> <input
						type="date" th:field="*{dateExpiration}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<input type="submit" value="Registrar" class="btn btn-dark"></input>
				</div>


			</form>
		</div>



	</div>
</body>
</html>